
#footer{
        display: block;
    background-color:black;
    background-size: cover;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif !important;
    opacity: 1;
}




.Social-network ul li {

    padding: 5px;
}
.Social-network ul{
    display: flex;
}
.infomain{
    color:white;    
}
.infomation ul li{
  
  list-style: none;
   opacity: 0.9;
   color:white;

}
.image-footer img{

   background-color: white;
}   
.image-footer{
    margin: 0 auto;
    width:60%;
}
.service{
    color:white;
}
.wrap-headline {
    position: relative;
  
}
.list-inline-item{
    color:white;
}
.other-info{
    color:white;}

 .footer-ani.col-md-3{
    margin-top: 2%;
}



/*  */
.hotline-bar {

    background: linear-gradient(90deg ,#FF403E 0%,#FF811B 100%);
    margin-top: -7%;
    padding: 20px;
    background-size: 100%;
    cursor: pointer;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 1;
    -webkit-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
    border-radius: 50px !important;
    /* animation: to-fly 1s forwards; */
}


.fly{
    animation: to-fly 1s forwards;
}
@-webkit-keyframes to-fly{
    from{
        transform:  translateX(-15%);  }
    to{
        transform: translateX(0%);
    }
}

#footer .btn-info{
    border-radius: 30px;
    background-color: #000;
    border: 0;
}
#footer .btn-info:hover{
    background-color: #fff;
    color: #000;
}



