
.background-partner.coating-1{

  position: relative;
  height:300px;
}

.background-partner.coating-1 .slider  .slick-dots{
      display: flex;
      justify-content:center;
      list-style: none;
      padding: 0;}
 .background-partner.coating-1 .slider li{
        margin-right: 5px;
        padding:5px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
      }
  .background-partner .coating-1 .slider.slides{
        display: flex;
      }
.coating-1 .slider img{
        margin: 0 auto;
        height:auto;
        width: 150px;
        background-color: transparent;
      }

.arrow{
      position: absolute;
      /* top:10%; */
      z-index: 2;
      cursor: pointer;
      padding: 50px;
      border-radius: 5px;}
      .coating-1 .slider     .arrow  i{
        font-size:32px;
      }
      .background-partner{
        background-image: url("../upload/background-section3.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        /* height: 600px; */
        padding-bottom: 5%;
      
      }
      h3{
        opacity: 1;
      }
  
.title-partner-icon {
        padding-top:10%;
        text-align: center;


      }
 
.row.partner-rows.col-md-3{
      margin-top:0px !important;
    }
    .main-center {
      padding-top: 5%;
    }
.name-products {
  text-align: center;
  color: #f17521;
}
.cell-auto-slides{
  padding-bottom: 2rem;
}
.description-products ul{
  padding-top: 5%;
  font-size: 16px;
  text-align:left;
  list-style: none;
  padding-bottom: 5%;
  padding-left: 5%;
}

.infor-products {
  background-color: rgba(208, 197, 197, 0.313);
  position: relative;
   border-radius: 1rem;
   border: none;
   /* height: 300px; */
  padding: 10px;
  -webkit-box-shadow: -5px -4px 11px -1px rgba(0,0,0,0.23);
  -moz-box-shadow: -5px -4px 11px -1px rgba(0,0,0,0.23);
  box-shadow: -5px -4px 11px -1px rgba(0,0,0,0.23);
  /* box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 11%); */

}
/* .description-products{

} */

  .partner-rows{
    animation: rto-left 2s forwards;
  }
  @-webkit-keyframes rto-left{
      from{
          transform: translateX(100%);
      }
      to{
        transform: translateX(0%);
      }
  }
  .logo-partners-vwit{ max-width: 50vw;}
