@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    outline: none;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}
html{
    height: 100%;
}
button{
    outline: none !important;
}
.hidden{
    overflow: hidden;
}
.material-icons{
    color: #f17521;
}


/* NAVBAR - START */
.topbar{
    background-color: rgba(255, 255, 255);
    border-bottom: 0.5px solid #b9b6b5;
    transition: 0.3s ease;
}
.hide{
    display: none;
}
.topbar-wrap{
    width: 95%;
    position: relative; 
}
.topbar-wrap .contact{
    border-left: 0.5px solid #b9b6b5;;
}
.topbar-wrap i{
    color: #f17521;
    height: 100%;
}
.topbar-wrap p{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #8a817b;
}
.wrap-navbar{
    position: fixed;
    z-index: 100;
    transition: 0.5s ease;
}
.navbar{
    margin: 0 auto;
    padding: 0;
    width: 90%;
    background-color: transparent;
    z-index: 100;
    transition: 0.3s ease;
}
/*navbar rolling - start*/
.change-color{
    background-color: white;
    -webkit-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
}
.change-color-2{
    background-color: white;
    -webkit-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
}
.change-color .nav-link{
    color: black !important;
}
.change-color .search-box .search-area{
    color: black !important;
}
.change-color .search-box .search-area::placeholder{
    color: black !important;
}
.change-color-2 .nav-link{
    color: black !important;
}
.change-color-2 .search-box .search-area{
    color: black !important;
}
.change-color-2 .search-box .search-area::placeholder{
    color: black !important;
}

/*navbar rolling - end*/

.navbar .logo{
    width: 20%;
}
.navbar .logo img{
    max-width: 100%;
    height: auto;
}
.navbar .nav-link{
    color: white;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    transition: 0.4s ease;
}
.main .navbar-nav .nav-item{
    transition: 0.3s ease;
    border-bottom: 4px solid transparent;
}
.main .navbar-nav .nav-item:hover {
    border-bottom: 4px solid #f17521;
}

.collapse .search-box .form-inline{
    width: 80%;
}
.collapse .search-box .search-area{
    border: none;
    background-color: transparent;
    color: white;
}
.collapse .search-box .search-area::placeholder{
    color: white;
    opacity: 0.7;
}
.collapse .search-box .search-icon{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.main .contact{
    border-left: 1px solid #f17521;
}
.main .contact a{
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #f17521 !important;
    border-radius: 30px;
    box-shadow: 0px 3px 20px -6px rgba(0,0,0,0.66);
}
/*responsive navbar open - start*/

.open{
    width: 100vw;
    height: 100vh;
    background-color: white;
    transition: 0.3s ease;
}
.open .navbar-toggler .material-icons{
    color: #f17521;
}
.open .navbar-nav .nav-link{
    color: black !important;
}
.open .search-box .search-area{
    border: none;
    outline: none;
    background-color: transparent;
    width: 80vw;
}
.open .search-box .search-icon{
    border: none;
    outline: none;
    background-color: transparent;
}
.open .search-box .material-icons{
    color: #f17521;
}

/*responsive navbar open - end*/

/* NAVBAR - END */


/* NEWS-DETAIL-WRAP - START */

.news-detail-wrap{
    width: 100%;
}
.news-detail-wrap .search-result .result-box{
    border-radius: 30px;
    box-shadow: -9px -3px 34px -7px rgba(0,0,0,0.27);
}
.news-detail-wrap .search-result .result-box .time p{
    font-size: 16px;
    color: #8a817b;
}
.news-detail-wrap .search-result .result-box .title a{
    text-decoration: none;
    color: #000;
}

.news-detail-wrap .news-menu .menu-box{
    width: 90%;
    float: left;
}

.news-detail-wrap .news-menu .menu-box .search .search-box{
    width: 80%;
    position: relative;
}
.news-detail-wrap .news-menu .menu-box .search .search-box input{
    border-radius: 30px;
    border: 0.5px solid #b9b6b5;
    height: 2.5rem;
    width: 100%;
}
.news-detail-wrap .news-menu .menu-box .search .search-box button{
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    height: 100%;
}
.news-detail-wrap .news-menu .menu-box .search .search-box button i{
    border-radius: 30px;
    color: #000;
    align-items: center;
}
.news-detail-wrap .news-menu .menu-box .selection ul{
    list-style: none;
}
.news-detail-wrap .news-menu .menu-box .selection ul a{
    color: #5e5e5e;
    transition: 0.3s ease;
    font-size: 18px;
    font-weight: 500;
}
.news-detail-wrap .news-menu .menu-box .selection ul a:hover{
    color: #f17521;
}
/* NEWS-DETAIL-WRAP - END */

/* FOOTER - START */

#footer .hotline-bar{
    display: none;
}

/* FOOTER - END */

@media(max-width: 1024px){
    .news .news-wrap .news-box{
        width: 40%;
    }
}

@media(max-width: 992px){
    .topbar{
        display: none;
    }
    .navbar .logo{
        width: 50% !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .main .navbar-nav .nav-item{
        padding: 0 !important;
    }
    .collapse .search-box .search-area{
        outline: none;
        border: none;
        background-color: transparent;
        color: black;
    }
    .collapse .search-box .search-area::placeholder{
        color: black;
        opacity: 0.6;
    } 
    /* newswrap - start */
    
    .news .news-wrap .news-box{
        width: 90%;
    }
    
    /* news-wrap - end */

    /* news-detail-wrap - start */
    
    .news-detail-wrap .news-menu{
        margin-top: 5%;
    }
    .news-detail-wrap .news-menu .menu-box{
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    /* news-detail-wrap - end */
}