@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    outline: none;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}
html{
    height: 100%;
}
button{
    outline: none !important;
}
.hidden{
    overflow: hidden;
}
.material-icons{
    color: #f17521;
}


/* HEADER - START */
header{
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../upload/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1.3);
}
.header-appear{
    animation: header-appear 1.5s backwards;
}
@keyframes header-appear{
    from{
        opacity: 0.3;
    }to{
        opacity: 1;
    }
}
header .content{
    position: relative;
    top: 40%;
    height: 20%;
}
header .content .sub-content{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

header .content .sub-content .slogan h1{
    overflow-wrap: break-word;
    letter-spacing: 1.5px;
    color: #f17521;
}
header .content .sub-content .sub-slogan h4{
    font-weight: 400;
    color: white;
    overflow-wrap: break-word;
    letter-spacing: 1.5px;
}
header .page-break{
    bottom: 0;
    position: absolute;
    width:100%;
    height: .25rem;
}
header .page-break .rectangle1{
    background-color: #f17521;
    width: 50%;
}
header .page-break .rectangle2{
    background-color: black;
    width: 50%;
}
.topbar{
    background-color: rgba(255, 255, 255);
    border-bottom: 0.5px solid #b9b6b5;
    transition: 0.3s ease;
}
.hide{
    display: none;
}
.topbar-wrap{
    width: 95%;
    position: relative; 
}
.present-page{
    border-color: #f17521;
}
.topbar-wrap .contact{
    border-left: 0.5px solid #b9b6b5;;
}
.topbar-wrap i{
    color: #f17521;
    height: 100%;
}
.topbar-wrap p{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #8a817b;
}
.wrap-navbar{
    position: fixed;
    z-index: 100;
    transition: 0.5s ease;
}
.navbar{
    margin: 0 auto;
    padding: 0;
    width: 90%;
    background-color: transparent;
    z-index: 100;
    transition: 0.3s ease;
}
/*header rolling - start*/
.change-color{
    background-color: white;
    -webkit-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
}
.change-color-2{
    background-color: white;
    -webkit-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
}
.change-color .nav-link{
    color: black !important;
}
.change-color .search-box .search-area{
    color: black !important;
}
.change-color .search-box .search-area::placeholder{
    color: black !important;
}
.change-color-2 .nav-link{
    color: black !important;
}
.change-color-2 .search-box .search-area{
    color: black !important;
}
.change-color-2 .search-box .search-area::placeholder{
    color: black !important;
}

/*header rolling - end*/

.navbar .logo{
    width: 20%;
}
.navbar .logo img{
    max-width: 100%;
    height: auto;
}
.navbar .nav-link{
    color: white;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    transition: 0.4s ease;
}
.main .navbar-nav .nav-item{
    transition: 0.3s ease;
    border-bottom: 4px solid transparent;
}
.main .navbar-nav .nav-item:hover {
    border-bottom: 4px solid #f17521;
}

.collapse .search-box .form-inline{
    width: 80%;
}
.collapse .search-box .search-area{
    border: none;
    background-color: transparent;
    color: white;
}
.collapse .search-box .search-area::placeholder{
    color: white;
    opacity: 0.7;
}
.collapse .search-box .search-icon{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.main .contact{
    border-left: 1px solid #f17521;
}
.main .contact a{
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #f17521 !important;
    border-radius: 30px;
    box-shadow: 0px 3px 20px -6px rgba(0,0,0,0.66);
}
/*responsive navbar open - start*/

.open{
    width: 100vw;
    height: 100vh;
    background-color: white;
    transition: 0.3s ease;
}
.open .navbar-toggler .material-icons{
    color: #f17521;
}
.open .navbar-nav .nav-link{
    color: black !important;
}
.open .search-box .search-area{
    border: none;
    outline: none;
    background-color: transparent;
    width: 80vw;
}
.open .search-box .search-icon{
    border: none;
    outline: none;
    background-color: transparent;
}
.open .search-box .material-icons{
    color: #f17521;
}

/*responsive navbar open - end*/

/* HEADER - END */

/* SECTION 1 - START */

.section1{
    background: url("../upload/background-section1.png");
    background-position: center;
    background-size: contain;
}

.about-us h2{
    width: auto;
    text-align: center;
    color: #f17521;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
.about-us h2:before {
    content: "";
    position: absolute;
    bottom: -135px;
    left: calc(50% - 100px);
    width: 200px;
    height: 2px;
    background: #494440;
}
.about-us h2 span{
    color: #000;
}
.section1 .about-intro{
    width: 100%;
    z-index: 50;
}
.section1 .about-intro .main-intro{
    background: url('../upload/extend-about-background.jpg');
    background-position: top;
    width: 90%;
    float:right;
    -webkit-box-shadow: -9px 13px 13px -16px rgba(0,0,0,0.64);
    -moz-box-shadow: -9px 13px 13px -16px rgba(0,0,0,0.64);
    box-shadow: -9px 13px 13px -16px rgba(0,0,0,0.64);
    right: 0;
}
.about-intro-in{
    animation: about-intro-in 1s forwards;
}
@keyframes about-intro-in{
    from{
        transform: translateX(30%);
    }to{
        transform: translateX(0%);
    }
}
.section1 .about-intro .main-intro h2{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 0;
}
.section1 .about-company .left{
    margin-left: 5%;
    height: 100%;
    width: 45%;
    border-bottom: 2px solid #f17521;
    border-top: 2px solid #f17521;
    overflow: hidden;
}
.section1 .about-company .left .carousel-indicators{
    top: 0;
    height: 13%;
    border: 0.5px solid rgba(0,0,0,0.25);
    border-radius: 30px;
}

.section1 .about-company .left .carousel-indicators li{
    height: 80%;
    width: 30%;
    background-color: #000;
    border-radius: 30px;
    text-indent: 0;
    opacity: 1 !important;
    transition: 0.3s ease-out;
    border: 0.5px solid #f17521;
}
.section1 .about-company .left .carousel-indicators li:hover{
    background-color: #f17521;
    filter: brightness(1.5);
}
.section1 .about-company .left .carousel-indicators .active{
    background-color: #f17521;
    filter: brightness(1.25);
}
.section1 .about-company .left .carousel-indicators li p{
    color: #fff;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
    width: 100%;
    margin: 0;
    padding-top: 3%;
}
.section1 .about-company .left .carousel-inner .carousel-item{
    height: 100%;
    width: 100%;
}
.section1 .about-company .left .carousel-inner .item-content{
    position: absolute;
    height: 50%;
    width: 100%;
    margin-top: 20%;
}
.section1 .about-company .left .carousel-inner .item-content .item-inner{
    width: 75%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}
.section1 .about-company .left .carousel-inner .item-content .item-inner p{
    width: 100%;
    text-align: center;
    font-size: 2vw;
    color: #fff;
}
.section1 .about-company .right{
    height: 100%;
    width: 50%;
}
.section1 .about-company .right .about-content{
    width: 80%;
}
.section1 .about-company .right .about-content p{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
    text-align: justify;
}
.section1 .about-company .right .about-content .main-content span{
    color: #f17521;
    font-weight: 600;
}
.section1 .about-company .right .sub-content{
    width: 80%;
}
.section1 .about-company .right .sub-content span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #d36216;
}
.section1 .about-company .right .about-more-info{
    width: 80%;
}
.section1 .about-company .right .about-more-info a{
    width: 28%;
    height: 15%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
    background-color: #f17521;
    border-radius: 30px;
    transition: 0.5s ease;
}
.section1 .about-company .right .about-more-info a:hover{
    background-color: #000;
}
.section1 .about-company .right .about-more-info a .content{
    margin-left: 8%;
}
.section1 .about-company .right .about-more-info a .material-icons{
    background-color: #fff;
    border-radius: 30px;
    font-size: 2.5vw;
}

.section1 .about-company .company-slide{
    height: 100%;
    overflow: hidden;
}
.section1 .page-break{
    position: absolute;
    width:100%;
    height: .25rem;
}
.section1 .page-break .rectangle2{
    background-color: #f17521;
    width: 50%;
}
.section1 .page-break .rectangle1{
    background-color: black;
    width: 50%;
}
/* SECTION 1 - END */

/* SECTION 2 - START */
.section2{
    background: url('../upload/background-section2.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
    background-position-y: bottom;
    overflow: hidden;
}
#introduce{
    width: 100%;
}
.control-solution h2{
    width: auto;
    text-align: center;
    color: #f17521;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
.control-solution .first{
    color: #8a817b;
}
.control-solution hr{
    background-color:#000;
    width: 30%;
    height: 1px;
}
.control-solution h2 span{
    color: #000;
}
.control-solution p{
    text-align: center;
    /* color: #8a817b; */
    font-size: 22px;
    margin: 0;
}
#introduce .solution{
    background-color: rgba(255, 255, 255, .65);
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    padding: 30px 40px 0px;
    box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 10%);
    border-radius: 10px;
}
#introduce b{ 
       font-weight: 700;
}
#ac{
    margin-left:10%
}
#introduce p{
    margin-left:5%;
    margin-right: 5%;
}
#introduce.octf-btn octf-btn-icon octf-btn-secondary{
    box-shadow: 0 0 10px 0 rgb(255 0 0 / 50%);
}
#introduce h5{
   color: #f17521
}
.fly-in{
    animation: fly-in 1s forwards;
}
@keyframes fly-in{
    from{
        transform:  translateY(30%)  }
    to{
        transform: translateY(0%);
    }
}
#introduce .more-info{
    border-radius: 30px;
    background-color: #f17521;
    transition: 0.5s ease;
}
#introduce .more-info:hover{
    background-color: #000;
}
.section2 .page-break{
    width:100%;
    height: .25rem;
}
.section2 .page-break .rectangle1{
    background-color: #f17521;
    width: 50%;
}
.section2 .page-break .rectangle2{
    background-color: black;
    width: 50%;
}
/* SECTION 2 - END */

/* SECTION 3 - START */

.section3 .slick-prev{
    left: 0;
    z-index: 50;
}
.section3 .slick-next{
    right: 0;
    z-index: 50;
}
.section3 .slick-list{
    width: 90%;
    margin: 0 auto;
}
.section3 .slick-prev:before{
    background: url('../upload/left-arrow.png');
    color: #bfb7b7;
    font-size: 55px;
    position: absolute;
    left: 1px;
}
.section3 .slick-next:before{
    background: url('../upload/right-arrow.png');
    color: #bfb7b7;
    font-size: 55px;
    position: absolute;
    right: 1px;
}
/* SECTION 3 - END */

/* SECTION 5 - START */

.section5{
    background:url("../upload/background-section5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section5 .news-wrap{
    width: 90%;
    padding-bottom: 7%;
}
.section5 .news-wrap .title h2{
    width: auto;
    text-align: center;
    color: #f17521;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
.section5 .news-wrap .title p{
    text-align: center;
    /* color: #8a817b; */
    font-size: 22px;
    margin: 0;
}
.section5 .news-wrap .title hr{
    height: 1px;
    width: 30%;
    background-color: #f17521;
}
.section5 .news-wrap .content{
    background-color: #fff;
    padding: 0;
    border-radius: 30px;
}
.section5 .news-wrap .content .wrap{
    height: 270px;
    overflow-y: scroll;
}
.section5 .news-wrap .content .wrap::-webkit-scrollbar{
    width: 4px;
}
.section5 .news-wrap .content .wrap::-webkit-scrollbar-thumb{
    background: #f17521; 
}
.section5 .news-wrap .content .wrap::-webkit-scrollbar-thumb:hover {
    background: #d36216; 
}
.section5 .news-wrap .content .top-line{
    height: 4px;
    width: 95%;
    background-image: linear-gradient(to right, #f17521, rgb(104, 104, 104));
}
.section5 .news-wrap .content .inner-content{
    border-bottom: 1px solid black;
}
.section5 .news-wrap .content .inner-content .main-title{
    margin-bottom: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.section5 .news-wrap .content .inner-content .sub-content{
    max-width: 70%;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Source Sans Pro', sans-serif;
}
.section5 .news-wrap .content .inner-content{
    width: 95%;
}
.section5 .news-wrap .content .inner-content a{
    text-decoration: none;
    color: #f17521;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.3s ease;
}
.section5 .news-wrap .content .inner-content a:hover{
    color: #000;
}

/* SECTION 5 - END */

/* RESPONSIVE */

@media(max-width: 992px){
    header{
        height: 40vh;
    }
    .topbar{
        display: none;
    }
    .navbar .logo{
        width: 50% !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .main .navbar-nav .nav-item{
        padding: 0 !important;
    }
    .collapse .search-box .search-area{
        outline: none;
        border: none;
        background-color: transparent;
        color: black;
    }
    .collapse .search-box .search-area::placeholder{
        color: black;
        opacity: 0.6;
    }

    /* section 1 - start */
    .section1{
        padding-bottom: 0 !important;
    }
    .section1 .page-break{
        display: none !important;
    }
    .section1 .about-company{
        flex-direction: column !important;
        height: auto;
    }
    .section1 .about-intro .main-intro h2{
        font-size: 28px;
    }
    .section1 .about-company .left{
        margin: 10% 0 0 0 !important;
        width: 100%;
        overflow: visible !important;
        order: 2;
    }
    .section1 .about-company .left .carousel-inner .item-content{
        margin-top: 25%;
    }
    .section1 .about-company .left .carousel-indicators{
        height: 20%;
        width: 90%;
        margin: auto;
    }
    .section1 .about-company .left .carousel-indicators li p{
        padding-top: 9%;
        font-size: 3.5vw;
    }
    .section1 .about-company img{
        height: 100%;
        width: auto;
    }
    .section1 .about-company .left .carousel-inner .item-content .item-inner{
        width: 90%;
    }
    .section1 .about-company .left .carousel-inner .item-content .item-inner p{
        font-size: 5vw;
    }
    .section1 .about-company .right{
        width: 100%;
        order: 1;
    }
    .section1 .about-company .right .about-content{
        width: 90%;
    }
    .section1 .about-company .right .sub-content{
        width: 90%;
    }
    .section1 .about-company .right .about-more-info a{
        font-size: 4vw;
        width: 45%;
    }
    .section1 .about-company .right .about-more-info a .material-icons{
        font-size: 8vw;
    }
    /* section 1 - end */

    /* section 2 - start */


    /* section 2 - end */

    /* section 5 - start */

    .section5 .news-wrap .title{
        padding-bottom: 0 !important;
    }

    /* section 5 - end */
}

