@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    outline: none;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}
html{
    height: 100%;
}
button{
    outline: none !important;
}
.hidden{
    overflow: hidden;
}
.material-icons{
    color: #f17521;
}




/* CONTACT - START */

#contact-page .contact-detail .wrap-contact{
    border-radius: 30px;    
    background-image: linear-gradient(#f15221, #f17521);
}
#contact-page .contact-detail .wrap-contact .contact-box h6 i{
    font-size: 7px;
    top: 55px;
    position: absolute;
}
#contact-page .contact-detail .wrap-contact .contact-box h2{
    color: #fff;
}
#contact-page .contact-detail .wrap-contact .contact-box h6{
    color: #fff;
}
#contact-page .contact-detail .wrap-contact .contact-box p{
    color: #fff;
}
#contact-page .contact-detail .wrap-contact .contact-box .contact-icon{
    font-size: 32px;
    width: 32px;
    color: #fff;
}
#contact-page .contact-form h6{
    color: #a5b7d2;
}
#contact-page .contact-form h6 i{
    font-size: 7px;
    top: 55px;
    position: absolute;
}
#contact-page .contact-form input{
    border-radius: 30px;
    border: 0.5px solid #dad6d6;
    outline: none;
    transition: 0.4s ease;
}
#contact-page .contact-form input:focus{
    border: 0.5px solid #000;
}
#contact-page .contact-form textarea{
    border-radius: 30px;
    border: 0.5px solid #e6e2e0;
    outline: none;
    transition: 0.4s ease;
}
#contact-page .contact-form textarea:focus{
    border: 0.5px solid #000;
}

#contact-page .btn-info{
    border-radius: 30px;
    background-color: #000;
    border: 0;
}
#contact-page .btn-info:hover{
    background-color: #f17521;
}

/* CONTACT - END */

/* FOOTER - START */

#footer .hotline-bar{
    display: none;
}

/* FOOTER - END */

@media(max-width: 1024px){
    .news .news-wrap .news-box{
        width: 40%;
    }
}

@media(max-width: 992px){
    .topbar{
        display: none;
    }
    .navbar .logo{
        width: 50% !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .main .navbar-nav .nav-item{
        padding: 0 !important;
    }
    .collapse .search-box .search-area{
        outline: none;
        border: none;
        background-color: transparent;
        color: black;
    }
    .collapse .search-box .search-area::placeholder{
        color: black;
        opacity: 0.6;
    } 
}