#footer {
    display: block;
    background-color: black;
    background-size: cover;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif !important;
    opacity: 1;
}

#footer .Social-network ul li {
    padding: 5px;
}

#footer .Social-network ul {
    display: flex;
}

#footer .infomain {
    color: white;
}

#footer .infomation ul li {
    list-style: none;
    opacity: 0.9;
    color: white;
}

#footer .image-footer img {
    background-color: white;
}

#footer .image-footer {
    display: grid;
    place-items: center;
    margin: 0 auto;
    width: 60%;
}

#footer .service {
    color: white;
}

#footer .wrap-headline {
    position: relative;
}

#footer .wrap-headline hr {
    background-color: rgb(151, 149, 149);
}

#footer .list-inline-item {
    color: white;
}

#footer .other-info {
    color: white;
}

#footer .footer-ani.col-md-3 {
    margin-top: 2%;
}

/*  */

#footer .hotline-bar {
    background: linear-gradient(90deg, #FF403E 0%, #FF811B 100%);
    margin-top: -7%;
    padding: 20px;
    background-size: 100%;
    cursor: pointer;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 1;
    -webkit-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
    border-radius: 50px !important;
    /* animation: to-fly 1s forwards; */
}

.fly {
    animation: to-fly 1s forwards;
}

@keyframes to-fly {
    from {
        transform: translateX(-15%);
    }
    to {
        transform: translateX(0%);
    }
}

#footer .btn-info {
    border-radius: 30px;
    background-color: #000;
    border: 0;
}

#footer .btn-info:hover {
    background-color: #fff;
    color: #000;
}
