.hotline-bar {
    display: none;
}

header {
    top: 0;
    width: 100%;
    height: 60vh;
    background-image: url('../upload/news-banner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1.3);
}

.header-appear {
    animation: header-appear 1.5s backwards;
}

@keyframes header-appear {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

header .content {
    position: relative;
    top: 50%;
    height: 20%;
}

header .content .sub-content {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

header .content .sub-content .slogan h1 {
    text-align: center;
    overflow-wrap: break-word;
    letter-spacing: 1.5px;
    color: #f17521;
}

header .content .sub-content .sub-slogan ul li {
    margin: 0 auto;
    font-weight: 400;
    color: white;
    overflow-wrap: break-word;
    letter-spacing: 1.5px;
}

header .page-break {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: .25rem;
}

header .page-break .rectangle1 {
    background-color: #f17521;
    width: 50%;
}

header .page-break .rectangle2 {
    background-color: black;
    width: 50%;
}

header .page-break {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: .25rem;
}

.surface {
    max-width: 100%;
    max-height: 100%;
}

.content-introduce-head {
    padding: 2%;
}

.intro-qual-NDT {
    border: none;
    background-color: rgba(255, 255, 255, .65);
    position: relative;
    border-radius: 1rem;
    box-shadow: -5px -4px 11px -1px rgb(0 0 0 / 23%)
}

.intro-qual-KH {
    border: none;
    background-color: rgba(255, 255, 255, .65);
    position: relative;
    border-radius: 1rem;
    box-shadow: -5px -4px 11px -1px rgb(0 0 0 / 23%)
}

.intro-qual-CNV {
    border: none;
    background-color: rgba(255, 255, 255, .65);
    position: relative;
    border-radius: 1rem;
    box-shadow: -5px -4px 11px -1px rgb(0 0 0 / 23%)
}

.intro-qual-XH {
    border: none;
    background-color: rgba(255, 255, 255, .65);
    position: relative;
    border-radius: 1rem;
    box-shadow: -5px -4px 11px -1px rgb(0 0 0 / 23%)
}

.intro-quali-detail ul {
    list-style: none;
}

#introduce-clude {
    font-size: 16px;
}

.intro-head-third {
    border: none;
    background-color: rgba(255, 255, 255, .65);
    position: relative;
    border-radius: 1rem;
    box-shadow: -5px -4px 11px -1px rgb(0 0 0 / 23%);
    /* animation: right-to-left3 3s forwards; */
}

.intro-head-second {
    border: none;
    background-color: rgba(255, 255, 255, .65);
    position: relative;
    border-radius: 1rem;
    box-shadow: -5px -4px 11px -1px rgb(0 0 0 / 23%);
    /* animation: right-to-left2 2s forwards; */
}

.intro-head-first {
    border: none;
    background-color: rgba(255, 255, 255, .65);
    position: relative;
    border-radius: 1rem;
    box-shadow: -5px -4px 11px -1px rgb(0 0 0 / 23%);
    /* animation: right-to-left1 1s forwards; */
}

@-webkit-keyframes right-to-left1 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@-webkit-keyframes right-to-left2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@-webkit-keyframes right-to-left3 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.intro-head-first li {
    padding: 3%;
}

.intro-head-second li {
    padding: 3%;
}

.intro-head-third li {
    padding: 3%;
}

.content-introduce-head ul {
    list-style: none;
}

/* #particles-js{ position:absolute;
    width: 100%;
     background-color: #606060;
       background-size: cover; background-position: 50% 50%;
       background-repeat: no-repeat;} */

#hexagon {
    margin: 0 auto;
    width: 100px;
    height: 38%;
    background: #f17521;
    position: relative;
}

#hexagon::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #f17521;
}

#hexagon::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #f17521;
}

#hexagon-right {
    margin: 0 auto;
    width: 100px;
    height: 38%;
    background: #f17521;
    position: relative;
}

#hexagon-right::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #f17521;
}

#hexagon-right::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #f17521;
}

#hexagon-center {
    width: 100px;
    margin: 0 auto;
    height: 38%;
    background: #f17521;
    position: relative;
}

#hexagon-center::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #f17521;
}

#hexagon-center::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #f17521;
}

#KHt, #XHt, #CNVt {
    display: none;
}

#NDT, #KH, #XH, #CNV {
    cursor: pointer;
}

.logo-honor-value {
    padding-top: 7%;
}

.introduce-character {
    font-size: 16px;
    padding-bottom: 2%;
    background-image: url(../upload/introbodyimg2.jpg);
    background-attachment: fixed;
}

.introduce-quality {
    font-size: 16px;
    padding-bottom: 2%;
}

.introduce-start {
    font-size: 16px;
    padding-bottom: 2%;
}

.intro-start-img {
    margin-top: 10%;
}

.introduce-start-detail {
    margin-top: 5%;
}
