header{
    top: 0;
    width: 100%;
    height: 60vh;
    /* background-image: url('../upload/news-banner1.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1.3);
}
.header-appear{
    animation: header-appear 1.5s backwards;
}
@keyframes header-appear{
    from{
        opacity: 0.3;
    }to{
        opacity: 1;
    }
}
header .content{
    position: relative;
    top: 50%;
    height: 20%;
}
header .content .sub-content{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

header .content .sub-content .slogan h1{
    text-align: center;
    overflow-wrap: break-word;
    letter-spacing: 1.5px;
    color: #f17521;
}
header .content .sub-content .sub-slogan h6{
    text-align: center;
    font-weight: 400;
    color: white;
    overflow-wrap: break-word;
    letter-spacing: 1.5px;
}
header .page-break{
    bottom: 0;
    position: absolute;
    width:100%;
    height: .25rem;
}
header .page-break .rectangle1{
    background-color: #f17521;
    width: 50%;
}
header .page-break .rectangle2{
    background-color: black;
    width: 50%;
}