.active-page{
    border-bottom: 2px solid #f17521 !important;
}
.change-color-2 .active-page .nav-link.link-trans{
    color: #f17521 !important;
}
.topbar{
    background-color: rgba(255, 255, 255);
    border-bottom: 0.5px solid #b9b6b5;
    transition: 0.3s ease;
}
.hide{
    display: none;
}
.topbar-wrap{
    width: 95%;
    position: relative;
}
.present-page{
    border-color: #f17521;
}
.topbar-wrap .contact{
    border-left: 0.5px solid #b9b6b5;;
}
.topbar-wrap i{
    color: #f17521;
    height: 100%;
}
.topbar-wrap p{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #8a817b;
}
.wrap-navbar{
    position: fixed;
    z-index: 100;
    transition: 0.5s ease;
    background-color: #fff;
}
.wrap-navbar .nav-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
}
.navbar{
    margin: 0 auto;
    padding: 0;
    width: 90%;
    background-color: transparent;
    z-index: 100;
    transition: 0.3s ease;
    flex-wrap: nowrap;
}
.search-box{
    border-left: 2px solid #f17521;
}

/*header rolling - start*/
.change-color{
    background-color: white;
    -webkit-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
}
.change-color-2{
    background-color: white;
    -webkit-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
}
.change-color .nav-link{
    color: black !important;
}
.change-color .search-box .search-area{
    color: black !important;
}
.change-color .search-box .search-area::placeholder{
    color: black !important;
}
.change-color-2 .nav-link{
    color: black !important;
}
.change-color-2 .search-box .search-area{
    color: black !important;
}
.change-color-2 .search-box .search-area::placeholder{
    color: black !important;
}

/*header rolling - end*/

.navbar .logo{
    width: 20%;
}
.navbar .logo img{
    max-width: 100%;
    height: auto;
}
.navbar .nav-link{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    transition: 0.4s ease;
}
.main .navbar-nav .nav-item{
    transition: 0.3s ease;
    border-bottom: 4px solid transparent;
}
.main .navbar-nav .nav-item:hover {
    border-bottom: 4px solid #f17521;
}

.collapse .search-box .form-inline{
    width: 80%;
}
/* .collapse .search-box .search-area{
    border: none;
} */
.collapse .search-box .search-area::placeholder{
    color: #000;
    opacity: 0.7;
}
.collapse .search-box .search-icon{
    /* border: none; */
    background-color: transparent;
    cursor: pointer;
}
.main .contact{
    border-left: 1px solid #f17521;
}
.main .contact a{
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #f17521 !important;
    border-radius: 30px;
    box-shadow: 0px 3px 20px -6px rgba(0,0,0,0.66);
}
/*responsive navbar open - start*/

.open{
    width: 100vw;
    height: 100vh;
    background-color: white;
    transition: 0.3s ease;
}
.open .navbar-toggler .material-icons{
    color: #f17521;
}
.open .navbar-nav .nav-link{
    color: black !important;
}
.open .search-box .search-area{
    border: none;
    outline: none;
    background-color: transparent;
    width: 80vw;
}
.open .search-box .search-icon{
    border: none;
    outline: none;
    background-color: transparent;
}
.open .search-box .material-icons{
    color: #f17521;
}
#search-box{
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
#search-box .close-search{
    display: grid;
    place-items: center;
    font-size: 24px;
    color: #8a817b !important;
}

@media(min-width: 992px){
    .wrap-navbar .menu{
        display: none !important;
    }
    .open-search-box{
        display: none;
    }
}

@media(max-width: 992px){
    .wrap-navbar{
        margin-top: -1px;
    }
    .navbar .search-box{
        display: none;
    }
    .navbar-nav{
        height: 100vh;
    }
    .navbar-nav .link-trans{
        transition: 5s ease;
    }
}
