@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    outline: none;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}
html{
    height: 100%;
}
button{
    outline: none !important;
}


/* NEWS-WRAP - START */
.news{
    background: url("../upload/background-section1.png");
    background-position: center;
    background-size: contain;
}
.news .news-wrap{
    width: 90%;
}
.news .news-wrap .news-box{
    height: 290px;
    width: 27%;
    box-shadow: 0px 3px 20px -2px rgba(173,183,211,1);
    border-radius: 30px;
    background-color: #fff;
}
.news .news-box .inner-box{
    width: 85%;
    height: 100%;
}
.news .news-box .inner-box .time p{
    font-size: 16px;
    color: #adb7d3;
    font-weight: 600;
    margin: 0;
}
.news .news-box .inner-box .title a{
    text-decoration: none;
    color: #000;
}
.news .news-box .inner-box .title a h4{
    font-weight: 600;
    line-height: 1.5;
    transition: 0.3s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.news .news-box .inner-box .title a h4:hover{
    color: #f17521;
}
.news .news-box .inner-box .content p{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news .news-box .inner-box .read a{
    font-size: 14px;
    color: #f17521;
    text-decoration: none;
    transition: 0.3s ease;
}
.news .news-box .inner-box .read a:hover{
    color: #000;
}
/* NEWS-WRAP - END */

/* NEWS-DETAIL-WRAP - START */

.news-detail-wrap{
    width: 100%;
}

.news-detail-wrap .news-content .content-box{
    width: 90%;
}
.news-detail-wrap .news-content .content-box .time p{
    font-size: 16px;
    color: #8a817b;
}
.news-detail-wrap .news-content .content-box .content p{
    font-size: 16px;
}
.news-detail-wrap .news-content .content-box .content img{
    width: 100% !important;
    height: auto !important;
}
.news-detail-wrap .news-menu .menu-box{
    width: 90%;
    float: left;
}

.news-detail-wrap .news-menu .menu-box .search .search-box{
    width: 80%;
    position: relative;
}
.news-detail-wrap .news-menu .menu-box .search .search-box input{
    border-radius: 30px;
    border: 0.5px solid #b9b6b5;
    height: 2.5rem;
    width: 100%;
}
.news-detail-wrap .news-menu .menu-box .search .search-box button{
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    height: 100%;
}
.news-detail-wrap .news-menu .menu-box .search .search-box button i{
    border-radius: 30px;
    color: #000;
    align-items: center;
}
.news-detail-wrap .news-menu .menu-box .selection ul{
    list-style: none;
}
.news-detail-wrap .news-menu .menu-box .selection ul a{
    color: #5e5e5e;
    transition: 0.3s ease;
    font-size: 18px;
    font-weight: 500;
}
.news-detail-wrap .news-menu .menu-box .selection ul a:hover{
    color: #f17521;
}
/* NEWS-DETAIL-WRAP - END */

/* FOOTER - START */

#footer .hotline-bar{
    display: none;
}

/* FOOTER - END */

@media(max-width: 1024px){
    .news .news-wrap .news-box{
        width: 40%;
    }
}

@media(max-width: 992px){
    .topbar{
        display: none;
    }
    .navbar .logo{
        width: 50% !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .main .navbar-nav .nav-item{
        padding: 0 !important;
    }
    .collapse .search-box .search-area{
        outline: none;
        border: none;
        background-color: transparent;
        color: black;
    }
    .collapse .search-box .search-area::placeholder{
        color: black;
        opacity: 0.6;
    }
    /* newswrap - start */

    .news .news-wrap .news-box{
        width: 90%;
    }

    /* news-wrap - end */

    /* news-detail-wrap - start */
    .news-detail-wrap .news-content .content-box{
        width: 100%;
        margin: 0 auto;
        float: none;
    }
    .news-detail-wrap .news-menu{
        margin-top: 5%;
    }
    .news-detail-wrap .news-menu .menu-box{
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    /* news-detail-wrap - end */
}
