@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    outline: none;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

html {
    height: 100%;
}

button {
    outline: none !important;
}

.hidden {
    overflow: hidden;
}

.material-icons {
    color: #f17521;
}

/* PRODUCT-DETAIL - START */

/* MADOCAR - START */
.product-detail-page .madocar  .section1 .left{
    background-color: #fff2cc;
    border: 2px solid #6187a5;
    border-radius: 20px;
}
.product-detail-page .madocar  .section1 .left .tag{
    background-color: #f8c200;
    position: absolute;
    font-size: 18px;
    top: -20px;
    left: 50px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.21);
}
.product-detail-page .madocar  .section1 .left .top img{
    border: 1px solid #000;
    border-radius: 10px;
}
.product-detail-page .madocar  .section1 .left .top span{
    font-size: 18px;
}
.product-detail-page .madocar  .section1 i{
    font-size: 14px;
}
.product-detail-page .madocar  .section1 .left .bottom .title span{
    font-size: 20px;
}
.product-detail-page .madocar  .section1 .left .bottom span{
    font-size: 18px;
}

.product-detail-page .madocar  .section1 .right .top{
    background-color: #e2f0d9;
    border: 2px solid #6187a5;
    border-radius: 20px;
}
.product-detail-page .madocar  .section1 .right .top .tag{
    background-color: #68a93b;
    position: absolute;
    top: -20px;
    left: 50px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.21);
}
.product-detail-page .madocar  .section1 .right .top img{
    width: 40%;
    border: 1px solid #000;
    border-radius: 10px;
}
.product-detail-page .madocar  .section1 .right .top span{
    font-size: 18px;
}
.product-detail-page .madocar  .section1 .right .middle img{
    width: 10%;
}
.product-detail-page .madocar  .section1 .right .middle span{
    font-size: 28px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
}
.product-detail-page .madocar  .section1 .right .bottom .content{
    background-color: #dae3f3;
    border: 2px solid #6187a5;
    border-radius: 20px;
}
.product-detail-page .madocar  .section1 .right .bottom .content .tag{
    background-color: #3668c2;
    color: #fff;
    position: absolute;
    bottom: 220px;
    left: 190px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.21);
}
.product-detail-page .madocar  .section1 .right .bottom .content .title img{
    width: 30%;
}
.product-detail-page .madocar  .section1 .right .bottom .content .title span{
    font-size: 20px;
}
.product-detail-page .madocar  .section1 .right .bottom .content span{
    font-size: 18px;
}
.product-detail-page .madocar  .section1 .right .img-bottom{
    width: 100%;
}

.product-detail-page .madocar .section2 .left img{
    width: 100%;
}
.product-detail-page .madocar .section2 .right .top .left img{
    width: 75%;
}
.product-detail-page .madocar .section2 .right .top .right h3{
    color: #f17521;
    margin-bottom: 0;
}
.product-detail-page .madocar .section2 .right .top .right span{
    font-size: 22px;
}
.product-detail-page .madocar .section2 .right .bottom .left img{
    width: 75%;
}
.product-detail-page .madocar .section2 .right .bottom .right h3{
    color: #f17521;
    margin-bottom: 0;
}
.product-detail-page .madocar .section2 .right .bottom .right span{
    font-size: 22px;
}
/* MADOCAR - END */

/* KAIZEN - START */
.product-detail-page .kaizen .section1 .left .s1{
    font-size: 20px;
    font-weight: 500;
}
.product-detail-page .kaizen .section1 .left .s2{
    font-size: 36px;
    font-weight: 400;
}
.product-detail-page .kaizen .section1 .left .s3{
    font-size: 54px;
    font-weight: 500;
    color: #f17521;
}
.product-detail-page .kaizen .section1 .left .s4{
    font-size: 44px;
    font-weight: 400;
}
.product-detail-page .kaizen .section1 .right .img1{
    width: 100%;
}
.product-detail-page .kaizen .section1 .right .img2{
    width: 90%;
    position: absolute;
    left: 30px;
    top: 200px;
}

.product-detail-page .kaizen .section2 .top .left img{
    width: 80%;
    float: right;
}
.product-detail-page .kaizen .section2 .top .right h2{
    font-weight: 600;
    color: #f17521;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
}
.product-detail-page .kaizen .section2 .top .right span{
    font-weight: 400;
    font-size: 26px;
}
.product-detail-page .kaizen .section2 .bottom .left img{
    width: 80%;
    float: right;
}
.product-detail-page .kaizen .section2 .bottom .right h2{
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
}
.product-detail-page .kaizen .section2 .bottom .right span{
    font-weight: 400;
    font-size: 26px;
}

.product-detail-page .kaizen .section3 .left h2{
    text-align: center;
    font-weight: 600;
    color: #f17521;
}
.product-detail-page .kaizen .section3 .left img{
    width: 100%;
}
.product-detail-page .kaizen .section3 .right img{
    width: 10%;
}
.product-detail-page .kaizen .section3 .right i{
    color: #f17521;
}
.product-detail-page .kaizen .section3 .right span{
    font-size: 26px;
    font-weight: 500;
}

.product-detail-page .kaizen .section4 .left{
    background-color: rgba(0, 0, 0, 0.69);
}
.product-detail-page .kaizen .section4 .left h2{
    color: #fff;
    font-weight: 600;
}
.product-detail-page .kaizen .section4 .left h2 span{
    color: #f17521;
}
.product-detail-page .kaizen .section4 .left .left{
    background-color: transparent;
    width: 17%;
}
.product-detail-page .kaizen .section4 .left .left i{
    font-size: 50px;
    color: #fff;
}
.product-detail-page .kaizen .section4 .left h3{
    margin-bottom: 0;
    color: #fff;
}
.product-detail-page .kaizen .section4 .left .right{
    background-color: transparent;
}
.product-detail-page .kaizen .section4 .left .right .s2{
    color: #f17521;
}

.product-detail-page .kaizen .section4 .right .inner{
    background-color: #f17421ad;
    height: 100%;
}
.product-detail-page .kaizen .section4 .right .inner .s1{
    font-weight: 600;
}
.product-detail-page .kaizen .section4 .right .inner h2 span{
    color: #fff;
}
/* KAIZEN - END */

/* MBTI - START */

.product-detail-page .mbti .section1 .left img{
    width: 60%;
    float: right;
}
.product-detail-page .mbti .section1 .right h1{
    font-weight: 600;
    margin-bottom: 0;
}
.product-detail-page .mbti .section1 .right h1 span{
    color: #f17521;
}
.product-detail-page .mbti .section1 .right h3 span{
    border-top: 0.5px solid #f17521;
}

.product-detail-page .mbti .section2 .left h5 span{
    color: #f17521;
    font-weight: 600;
}
.product-detail-page .mbti .section2 .right img{
    width: 100%;
}

.product-detail-page .mbti .section3 h1 span,.product-detail-page .mbti .section3 h4 span{
    color: #f17521;
    font-weight: 600;
}
.product-detail-page .mbti .section3 img{
    width: 7%;
    border-right: 1px solid #f17521;
}
.product-detail-page .mbti .section3 .dot-i{
    font-size: 12px;
    position: relative;
    left: -7px;
    color: #f17521;
}

.product-detail-page .mbti .section4 .top .left img{
    width: 70%;
    float: right;
}
.product-detail-page .mbti .section4 .top .right h2{
    font-weight: 600;
    color: #f17521;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
}
.product-detail-page .mbti .section4 .top .right span{
    font-weight: 400;
    font-size: 26px;
}
.product-detail-page .mbti .section4 .bottom .left img{
    width: 70%;
    float: right;
}
.product-detail-page .mbti .section4 .bottom .right h2{
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
}
.product-detail-page .mbti .section4 .bottom .right span{
    font-weight: 400;
    font-size: 26px;
}

.product-detail-page .mbti .section5 span{
    font-weight: 600;
    font-size: 46px;
}
.product-detail-page .mbti .section5 span .s1{
    font-weight: 700;
    color: #f17521;
    font-family: 'Indie Flower', cursive;
    font-size: 52px;
}
/* MBTI - END */

/* PRODUCT-DETAIL - END */

/* FOOTER - START */

#footer .hotline-bar {
    display: none;
}

/* FOOTER - END */

@media(max-width: 1024px) {
    .news .news-wrap .news-box {
        width: 40%;
    }
}

@media(max-width: 992px) {
    .topbar {
        display: none;
    }
    .navbar .logo {
        width: 50% !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .main .navbar-nav .nav-item {
        padding: 0 !important;
    }
    .collapse .search-box .search-area {
        outline: none;
        border: none;
        background-color: transparent;
        color: black;
    }
    .collapse .search-box .search-area::placeholder {
        color: black;
        opacity: 0.6;
    }

    /* MADOCAR - START */

    .madocar h1{
        font-size: 2rem;
    }
    .madocar .section1 .right{
        padding-top: 40px;
    }
    .product-detail-page .madocar .section1 .right .top .tag{
        top: 18px;
    }
    .madocar .section1 .right .top .company-side{
        flex-direction: column !important;
    }
    .product-detail-page .madocar .section1 .right .top img{
        width: 100%;
        margin-bottom: 10px;
    }
    .madocar .section1 .right .middle{
        /* order: 1; */
        display: none;
    }
    .madocar .section1 .right .bottom{
        padding-top: 40px;
    }
    .product-detail-page .madocar .section1 .right .bottom .content .title{
        padding-top: 10px;
    }
    .product-detail-page .madocar .section1 .right .bottom .content .tag{
        left: 50px;
        bottom: 230px;
    }
    .madocar .section1 .right .bottom .right-img{
        display: none;
    }

    .madocar .section2 .right{
        padding-top: 20px;
    }
    .madocar .section2 .right .top .left{
        display: none;
    }
    .madocar .section2 .right .bottom .left{
        display: none;
    }
    /* MADOCAR - END */

    /* KAIZEN - START*/

    .kaizen .section1 .left{
        /* display: block !important; */
        align-items: flex-start !important;
    }
    .kaizen .section1 .left .s1,
    .kaizen .section1 .left .s2,
    .kaizen .section1 .left .s3,
    .kaizen .section1 .left .s4,
    .kaizen .section1 .left .s5{
        font-size: 28px !important;
    }
    .kaizen .section2{
        padding: 0 !important;
    }
    .kaizen .section2 .top{
        padding: 40px 0 0 0 !important;
    }
    .kaizen .section2 .top .left{
        display: grid;
        place-items: center;
    }
    .kaizen .section2 .top .left img{
        width: 23% !important;
    }
    .product-detail-page .kaizen .section2 .top .right h2{
        text-align: center;
    }
    .product-detail-page .kaizen .section2 .top .right span{
        display: none;
    }
    .kaizen .section2 .bottom .left{
        display: grid;
        place-items: center;
    }
    .kaizen .section2 .bottom .left img{
        width: 30% !important;
    }
    .product-detail-page .kaizen .section2 .bottom .right h2{
        text-align: center;
    }
    .product-detail-page .kaizen .section2 .bottom .right span{
        display: none;
    }
    .kaizen h1{
        text-align: center;
    }
    .kaizen .section3 .right{
        padding-left: 15px !important;
        padding-top: 10px;
    }
    .kaizen .section3 .right .d-flex{
        padding-bottom: 1rem !important;
    }
    .product-detail-page .kaizen .section3 .right i{
        padding: 0 1rem !important;
    }
    .product-detail-page .kaizen .section3 .right span{
        font-size: 22px;
    }

    .product-detail-page .kaizen .section4 .left{
        margin: 0 15px;
    }
    .product-detail-page .kaizen .section4 .left h2{
        font-size: 1.5rem !important;
    }
    .product-detail-page .kaizen .section4 .left .left{
        display: none;
    }
    .product-detail-page .kaizen .section4 .left .right{
        padding-top: 10px;
    }
    .product-detail-page .kaizen .section4 .left .right .s1{
        font-size: 24px !important;
    }
    .product-detail-page .kaizen .section4 .left .right .s2{
        font-size: 22px !important;
    }

    .product-detail-page .kaizen .section4 .right .inner{
        margin-left: 15px !important;
    }
    .product-detail-page .kaizen .section4 .right{
        padding-top: 10px;
    }
    .product-detail-page .kaizen .section4 .right h2{
        font-size: 1.5rem !important;
    }
    /* KAIZEN - END*/

    /* MBTI - START */

    .mbti .section1 .left{
        display: none;
    }
    .product-detail-page .mbti .section1 .right{
        padding: 0 !important;
    }
    .product-detail-page .mbti .section1 .right .d-flex{
        place-items: center;
    }
    .product-detail-page .mbti .section1 .right h3 span{
        border: none;
        padding: 0 !important;
    }

    .product-detail-page .mbti .section2 .right{
        padding: 0 !important;
    }

    .product-detail-page .mbti .section3 h1{
        font-size: 2rem;
    }
    .product-detail-page .mbti .section3 h4{
        font-size: 1.25rem;
    }
    .product-detail-page .mbti .section3 .d-flex img{
        display: none;
    }
    .product-detail-page .mbti .section3 .dot-i{
        left: 4px !important;
    }
    .product-detail-page .mbti .section3 .d-flex h3{
        font-size: 1.5rem;
    }

    .product-detail-page .mbti .section4{
        padding-bottom: 0 !important;
    }
    .product-detail-page .mbti .section4 .top{
        padding: 10px 0 !important;
    }
    .product-detail-page .mbti .section4 .top .left{
        padding: 0 !important;
        display: grid;
        place-items: center;
    }
    .product-detail-page .mbti .section4 .top .left img{
        width: 30% !important;
    }
    .product-detail-page .mbti .section4 .top .right h2{
        text-align: center;
    }
    .product-detail-page .mbti .section4 .top .right span{
        display: none;
    }
    .product-detail-page .mbti .section4 .bottom{
        padding: 0 !important;
    }
    .product-detail-page .mbti .section4 .bottom .left{
        padding: 0 !important;
        display: grid;
        place-items: center;
    }
    .product-detail-page .mbti .section4 .bottom .left img{
        width: 30% !important;
    }
    .product-detail-page .mbti .section4 .bottom .right h2{
        text-align: center;
    }
    .product-detail-page .mbti .section4 .bottom .right span{
        display: none;
    }
    /* MBTI - END */
}
