.background-partner.coating-1 {
    position: relative;
    height: 300px;
}

.background-partner.coating-1 .slider .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.background-partner.coating-1 .slider li {
    margin-right: 5px;
    padding: 5px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

.background-partner .coating-1 .slider.slides {
    display: flex;
}

.coating-1 .slider h4 {
    margin: 0;
}

.coating-1 .slider img {
    height: auto;
    width: 20%;
    background-color: transparent;
}

.arrow {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    padding: 50px;
    border-radius: 5px;
}

.coating-1 .slider .arrow i {
    font-size: 32px;
}

.background-partner {
    background-image: url("../upload/background-section3.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    /* padding-bottom: 5%; */
}

h3 {
    opacity: 1;
}

.title-partner-icon {
    padding-top: 10%;
    text-align: center;
}

.row.partner-rows.col-md-3 {
    margin-top: 0px !important;
}

.main-center {
    padding-top: 5%;
}

.name-products {
    text-align: center;
    color: #f17521;
}

.cell-auto-slides {
    padding-bottom: 2rem;
}

.cell-auto-slides a {
    text-decoration: none;
    color: #000;
}

.description-products {
    border-top: 1px solid #f17521;
}
.description-products h5{
    color: #f17521;
}

.infor-products {
    height: 300px;
    background-color: rgba(240, 240, 240, 0.65);
    position: relative;
    border-radius: 1rem;
    border-left: 1px solid #f17521;
    border-right: 1px solid #f17521;
    padding: 10px;
    -webkit-box-shadow: -5px -4px 11px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -5px -4px 11px -1px rgba(0, 0, 0, 0.23);
    box-shadow: -5px -4px 11px -1px rgba(0, 0, 0, 0.23);
}

/* .partner-rows{
  animation: rto-left 2s forwards;
}
@-webkit-keyframes rto-left{
  from{
      transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
} */

.logo-partners-vwit {
    max-width: 50vw;
}
