@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    outline: none;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}
html{
    height: 100%;
}
button{
    outline: none !important;
}
.hidden{
    overflow: hidden;
}
.material-icons{
    color: #f17521;
}


/* NEWS-DETAIL-WRAP - START */

.news-detail-wrap{
    width: 100%;
}
.news-detail-wrap .search-result .search-text{
    color: #f17521;
}
.news-detail-wrap .search-result .result-box{
    border-radius: 30px;
    box-shadow: -9px -3px 34px -7px rgba(0,0,0,0.27);
}
.news-detail-wrap .search-result .result-box .time p{
    font-size: 16px;
    color: #8a817b;
}
.news-detail-wrap .search-result .result-box .title a{
    text-decoration: none;
    color: #000;
}
.news-detail-wrap .search-result .result-box .title h3{
    transition: 0.3s ease;
}
.news-detail-wrap .search-result .result-box .title h3:hover{
    color: #f17521;
}
.news-detail-wrap .news-menu .menu-box{
    width: 90%;
    float: left;
}

.news-detail-wrap .news-menu .menu-box .search .search-box{
    width: 80%;
    position: relative;
}
.news-detail-wrap .news-menu .menu-box .search .search-box input{
    border-radius: 30px;
    border: 0.5px solid #b9b6b5;
    height: 2.5rem;
    width: 100%;
}
.news-detail-wrap .news-menu .menu-box .search .search-box button{
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    height: 100%;
}
.news-detail-wrap .news-menu .menu-box .search .search-box button i{
    border-radius: 30px;
    color: #000;
    align-items: center;
}
.news-detail-wrap .news-menu .menu-box .selection ul{
    list-style: none;
}
.news-detail-wrap .news-menu .menu-box .selection ul a{
    color: #5e5e5e;
    transition: 0.3s ease;
    font-size: 18px;
    font-weight: 500;
}
.news-detail-wrap .news-menu .menu-box .selection ul a:hover{
    color: #f17521;
}
/* NEWS-DETAIL-WRAP - END */

/* FOOTER - START */

#footer .hotline-bar{
    display: none;
}

/* FOOTER - END */

@media(max-width: 1024px){
    .news .news-wrap .news-box{
        width: 40%;
    }
}

@media(max-width: 992px){
    .topbar{
        display: none;
    }
    .navbar .logo{
        width: 50% !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .main .navbar-nav .nav-item{
        padding: 0 !important;
    }
    .collapse .search-box .search-area{
        outline: none;
        border: none;
        background-color: transparent;
        color: black;
    }
    .collapse .search-box .search-area::placeholder{
        color: black;
        opacity: 0.6;
    } 
    /* newswrap - start */
    
    .news .news-wrap .news-box{
        width: 90%;
    }
    
    /* news-wrap - end */

    /* news-detail-wrap - start */
    
    .news-detail-wrap .news-menu{
        margin-top: 5%;
    }
    .news-detail-wrap .news-menu .menu-box{
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    /* news-detail-wrap - end */
}