@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    outline: none;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}
html{
    height: 100%;
}
button{
    outline: none !important;
}
.hidden{
    overflow: hidden;
}
.material-icons{
    color: #f17521;
}

/* NAVBAR - END */

/* TRAINING - START */

.training-page{
    background: url("../upload/background-section1.png");
    background-position: center;
    background-size: contain;
}
/* .training-page .row{
    background: url("../upload/wrap-training-center.png");
    background-position: center;
    background-size: cover;
} */
.training-page .service-box{
    box-shadow: 0px 0px 46px -2px rgba(0,0,0,0.17);
    border-radius: 30px;
    z-index: 50;
    background-color: #fff;
    transition: 0.3s ease-out;
}
.training-page .service-box:hover{
    background-color: #fad2b8;
}
.training-page .service-box:hover .big-number{
    color: #fff;
}
.training-page .big-number{
    position: absolute;
    right: 21px;
    bottom: -7px;
    font-size: 40px;
    font-weight: 800;
    color: #f175211f;
    transition: 0.3s ease-out;
    z-index: -1;
}
.training-page .left .box1 .service-box,
.training-page .left .box3 .service-box{
    transform: translateX(70px);
}
.training-page .right .box1 .service-box,
.training-page .right .box3 .service-box{
    transform: translateX(-70px);
}
.training-page .left .box2 .service-box,
.training-page .right .box2 .service-box{
    transform: translateX(0px);
}
.training-page .service-box .inner-box i{
    font-size: 40px;
    color: #f17421c4;
}
.training-page .service-box .inner-box h5{
    font-size: 22px;
}
.training-page .center h6{
    color: #f17421b2;
    text-align: center;
}
.training-page .center h6 i{
    font-size: 7px;
    height: 7px;
}
.training-page .center h6 span{
    text-align: center;
}
.training-page .center h2{
    text-align: center;
    font-weight: 400;
}
.training-page .center .training-img img{
    width: 100%;
}
/* TRAINING - END */

/* FOOTER - START */

#footer .hotline-bar{
    display: none;
}

/* FOOTER - END */

@media(max-width: 1024px){
    .news .news-wrap .news-box{
        width: 40%;
    }
}

@media(max-width: 992px){
    .topbar{
        display: none;
    }
    .navbar .logo{
        width: 50% !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .main .navbar-nav .nav-item{
        padding: 0 !important;
    }
    .collapse .search-box .search-area{
        outline: none;
        border: none;
        background-color: transparent;
        color: black;
    }
    .collapse .search-box .search-area::placeholder{
        color: black;
        opacity: 0.6;
    } 

    .training-page .left{
        order: 2;
    }
    .training-page .left .box1 .service-box,
    .training-page .left .box3 .service-box{
        transform: translate(0px);
    }
    .training-page .right .box1 .service-box,
    .training-page .right .box3 .service-box{
        transform: translate(0px);
    }
    
}