.d-flex-column-center{
    display: flex;
    justify-content: center;
}
.mr-5px{
    margin-right: 5px;
}
.mr-10px{
    margin-right: 10px;
}
.mb-0{
    margin-bottom: 0px !important;
}
.text-red{
    color: #ff0000 !important;
}
.text-green{
    color: #008000 !important;
}
/* .feature-home-content{
    margin-top: 100px;
} */
#home-section-wrapper{
    padding-top: 60px !important;
}
.left .feature-box-style-1:first-child{
    margin-top: 40px !important;
}
.right .feature-box-style-1:first-child{
    margin-top: 40px !important;
}
#home-section-wrapper .feature-home-image{
    margin-top: 40px !important;
}
#home-section-wrapper .feature-home-image img{
    max-width: none !important;
}

#home-section-wrapper .feature-home-image{
    margin-top: 140px;
}

#footer-section{
    text-align: left !important;
}

.computer-carousel .owl-stage{
    width: 100% !important;
}
.computer-carousel .owl-item{
    width: 50% !important;
}
.computer-carousel .portfolio-item{
    max-width: none !important;
}
.portfolio-section-img-title{
    margin-bottom: 10px !important;
    padding-top: 60px ;
}
.portfolio-section-img-title p{
    font-size: 24px !important;
}

.footer-social-icons ul li{
    border-top: 1px solid #202b2c;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    #home-section-wrapper .feature-home-image{
        margin-top: 100px;
    }
}

@media only screen and (max-width: 767px) {
    #home-section-wrapper .feature-home-image{
        margin-top: 100px;
    }
    .computer-version{
        display: none !important;
    }
}
